@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

form {
    width: 350px;
    margin: 50px auto;
    padding: 10px;
}

form div {
    margin-top: 15px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input,
select,
textarea {
    background-color: #dfdede;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
}

button {
    background-color: orangered;
    color: white;
    padding: 6px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}